 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>New Zealand born 80s bred living in Australia graphic designer whos recently come back from working in Japan designing apps, websites and logos</p>
                </div>
                <div class="col-lg-4">
                    <p>Love the 80s, playing retro games, streetwear, graffitti and coffee.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                   
                </div>
            </div>
        </div>
    </section>